@if (!staticAlertClosed){
  <ngb-alert [type]="'danger'" (closed)="staticAlertClosed = true" [dismissible]="false">
    {{ errorMessage }}
  </ngb-alert>
}
<div class="container">
  <div class="login-box">
    <div class="left-section">
      <img src="./assets/149367475051fd98200ff75c07edec0d.jpg" alt="Wizarding World Image">
    </div>
    <div class="right-section">
      <h1>Welcome to the Wizarding World!</h1>
      <form [formGroup]="loginForm" (keydown.enter)=login()
            (submit)=login()>
        <input type="text" id="email" name="email" placeholder="Email" required [formControl]="email">
        <div class="form-container">
          <div class="error-container">
            @if(email.hasError(validatorsErrors.Pattern) && (email.dirty || email.touched)){
              <p class="error-form">
                Formato e-mail non valido
              </p>
            }
            @if(email.touched && email.value === ''){
              <p class="error-form">
                E-mail obbligatoria
              </p>
            }
          </div>
        </div>
        <app-password-form
          (passwordFormEmitter)=passwordEmitted($event)
          [isLogin]="true">
        </app-password-form>
        <div class="forgot-password-signup">
          <div class="div-forgot"><a class="link" href="/forgot-password"> Forgot Password</a></div>
          <div class="div-signup">Signup</div>
        </div>
        <button type="submit">Login</button>
      </form>
    </div>
  </div>
</div>
