@import "../common-styles/character-card";

.container{
  display: flex;
  flex-direction: column;
  max-width: 1500px;
}

.alert-container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 20px;
  width: 95%;
  margin-bottom: 900px;

}

.isVisited {
  width: 2200px;
  color:black;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 80px;
  width: 100%;
  border-top: 3px solid $border-color-good;
  background: linear-gradient(to bottom, rgb(149, 149, 149) 0%, rgb(13, 13, 13) 46%, rgb(1, 1, 1) 50%, rgb(10, 10, 10) 53%, rgb(78, 78, 78) 76%, rgb(56, 56, 56) 87%, rgb(27, 27, 27) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  .left{
    text-align:left;
    float:left;
  }
  .right{
    padding-right: 20px;
  }
  .confirm{
    text-align: center;
    padding-left: 40vh;
    font-size: 30px;
    color: white;
  }
  .centered{
    text-align:center;
  }

  .circle {
    display: grid;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 120px;
    border: 3px solid $border-color-good;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgb(149, 149, 149) 0%, rgb(13, 13, 13) 46%, rgb(1, 1, 1) 50%, rgb(10, 10, 10) 53%, rgb(78, 78, 78) 76%, rgb(56, 56, 56) 87%, rgb(27, 27, 27) 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    overflow: hidden;
    z-index: 1;
  }

  .money {
    font-weight: 800;
    font-size: 50px;
    width: 100%;
    background-image:  linear-gradient(to bottom, rgb(241,231,103) 0%,rgb(254,182,69) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}


.alert-danger {
  --bs-alert-color: var(--bs-danger-text-emphasis);
  --bs-alert-bg: var(--bs-danger-bg-subtle);
  --bs-alert-border-color: var(--bs-danger-border-subtle);
  --bs-alert-link-color: var(--bs-danger-text-emphasis);
  --bs-alert-animation-duration: 0.5s;

  color: var(--bs-alert-color);
  background-color: var(--bs-alert-bg);
  border-color: var(--bs-alert-border-color);
  border-radius: 0.25rem;
  padding: 1rem;
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
  overflow: hidden;
}

