<form>
  <div class="input-container">
    <div class="password-input-container">
      <input class="input-password-field"
             id="password-field"
             placeholder="Password"
             [type]="showPassword ? 'text' : 'password'"
             [formControl]=password>
      <div class="show-password-container" (click)="showPasswordContent('password')">
        <img class="show-password"
             alt="show-password"
             src="assets/icons/magic-wand.png">
      </div>
    </div>
    <div class="error-container">
      @if (password.hasError(ValidatorsErrors.Required) && (password.dirty || password.touched))
      {
      <p class="error-form">
        Campo obbligatorio
      </p>
      }
      @if (password.hasError(ValidatorsErrors.MinLength) && (password.dirty || password.touched)){
      <p class="error-form">
        Lunghezza richiesta è di 8 caratteri
      </p>
      }
      @if (isLogin()) {
        <div class="invalid-field">
          @if (password.value==='' && password.touched) {
            <p class="error-form">
              Password obbligatoria
            </p>
          }
        </div>
      }

    </div>
  </div>

  <!--  <label *ngIf="!isLogin" for="confirm-password-field" class="field-label">Conferma password*</label>-->
  <!--  <div class="input-container"-->
  <!--       *ngIf="!isLogin">-->
  <!--    <input class="input-password-field"-->
  <!--           id="confirm-password-field"-->
  <!--           [type]="showConfirmPassword ? 'text' : 'password'"-->
  <!--           [formControl]=passwordConfirm>-->
  <!--    <div class="invalid-field">-->
  <!--      <p *ngIf="password.hasError(ValidatorsErrors.Required) && (password.dirty || password.touched)">-->
  <!--        Campo è obbligatorio-->
  <!--      </p>-->
  <!--      <p *ngIf="passwordForm.hasError(ValidatorsErrors.PasswordMismatch) &&-->
  <!--             (passwordConfirm.dirty || passwordConfirm.touched)">-->
  <!--        Password inserita non è uguale-->
  <!--      </p>-->
  <!--    </div>-->
  <!--    <div class="show-password-container" (click)="showPasswordContent('confirmPassword')">-->
  <!--      <img class="show-password"-->
  <!--           alt="show-password"-->
  <!--           src="assets/password/show_password.svg"-->
  <!--           *ngIf="!showConfirmPassword">-->
  <!--      <img class="show-password"-->
  <!--           alt="hide-password"-->
  <!--           src="assets/password/hide_password.svg"-->
  <!--           *ngIf="showConfirmPassword">-->
  <!--    </div>-->
  <!--  </div>-->
</form>
