.input-container {
  position: relative;
  margin-bottom: 20px;
}

.password-input-container {
  align-items: center;
  position: relative;
}

.input-password-field {
  box-sizing: border-box;
  width: 70%;
  padding: 8px;
  border: none;
  border-radius: 4px;
  position: relative;
}

.error-container {
  height: 20px;
  overflow: hidden;
}

.error-form {
  color: red;
  font-size: 14px;
  margin-bottom: 30px;
}

.error-container.show {
  opacity: 1;
  visibility: visible;
}

.show-password-container {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}


.show-password {
  height: 30px;
  width: 30px;
  position: absolute;
  right: 15px;
  transform: translateY(-50%);
}

form:first-child {
  margin-top: 20px;
}

@media(max-width: 812px){
  .show-password {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 5px;
    transform: translateY(-50%);
  }
}

@media(max-width: 1280px){
  .show-password {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 10px;
    transform: translateY(-50%);
  }
}




