<form>
  <div class="input-container">
    <input class="input-password-field"
           id="password-field"
           placeholder="Password"
           [type]="showPassword ? 'text' : 'password'"
           [formControl]=password>
    <div class="invalid-field"
         *ngIf="!isLogin">
      <p *ngIf="password.hasError(ValidatorsErrors.Required) && (password.dirty || password.touched)">
        Campo è obbligatorio
      </p>
      <p *ngIf="password.hasError(ValidatorsErrors.MinLength) && (password.dirty || password.touched)">
        Lunghezza richiesta è di 8 caratteri
      </p>
    </div>

    <div *ngIf="isLogin" class="invalid-field">
      <p *ngIf="password.value === '' && password.touched">
        Password obbligatoria
      </p>
    </div>

    <div class="show-password-container" (click)="showPasswordContent('password')">
      <img class="show-password"
           alt="show-password"
           src="assets/password/show_password.svg"
           *ngIf="!showPassword">
      <img class="show-password"
           alt="hide-password"
           src="assets/password/hide_password.svg"
           *ngIf="showPassword">
    </div>
  </div>
<!--  <label *ngIf="!isLogin" for="confirm-password-field" class="field-label">Conferma password*</label>-->
<!--  <div class="input-container"-->
<!--       *ngIf="!isLogin">-->
<!--    <input class="input-password-field"-->
<!--           id="confirm-password-field"-->
<!--           [type]="showConfirmPassword ? 'text' : 'password'"-->
<!--           [formControl]=passwordConfirm>-->
<!--    <div class="invalid-field">-->
<!--      <p *ngIf="password.hasError(ValidatorsErrors.Required) && (password.dirty || password.touched)">-->
<!--        Campo è obbligatorio-->
<!--      </p>-->
<!--      <p *ngIf="passwordForm.hasError(ValidatorsErrors.PasswordMismatch) &&-->
<!--             (passwordConfirm.dirty || passwordConfirm.touched)">-->
<!--        Password inserita non è uguale-->
<!--      </p>-->
<!--    </div>-->
<!--    <div class="show-password-container" (click)="showPasswordContent('confirmPassword')">-->
<!--      <img class="show-password"-->
<!--           alt="show-password"-->
<!--           src="assets/password/show_password.svg"-->
<!--           *ngIf="!showConfirmPassword">-->
<!--      <img class="show-password"-->
<!--           alt="hide-password"-->
<!--           src="assets/password/hide_password.svg"-->
<!--           *ngIf="showConfirmPassword">-->
<!--    </div>-->
<!--  </div>-->
</form>
