<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="forgot-password-box">
        <div class="card-header">
          <h1>Password dimenticata</h1>
        </div>
        <div class="card-body">
          <form (submit)=submit() *ngIf="!requestSuccess">
            <p>Inserisci e-mail per reimpostare la password</p>
            <div class="input-container">
              <input id="email" type="email" placeholder="Inserisci e-mail" [formControl]="email"/>
            </div>
            <button class="full-width-black-button">Reimposta la password</button>
          </form>
          <div *ngIf="requestSuccess">
            <h2>La richiesta è andata a buon fine</h2>
            <p>La tua richiesta andata a buon fine. A breve riceverai e-mail con link per reimpostare la password</p>
            <button class="full-width-black-button" routerLink="">Continua ad esplorare il sito</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


