.challenge-board {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.opponent-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
}

.player, .opponent {
  display: flex;
  margin: auto 0 15px 0;
  justify-content: center;
  align-items: flex-end;

  .player-cards{
    display: flex;
    flex-direction: row;
    width: 70%;
  }

  .info {
    margin: 15px;

    .username{
      color: white;
      font-weight: bold;
    }

    img{
      border-radius: 50%;
      width: 9vh;
      height: 9vh;
      object-fit: cover;
    }
  }
}

.opponent{
  margin-top: 15px;
}


