<div class="challenge-board">
  @if(challengeEnded){
    <app-line-animation></app-line-animation>
  }
  <div class="opponent">
  <div class="info">
    <img [ngSrc]="opponentPhoto()" loading="lazy">
    <p class="username">{{opponentUserName()}}</p>
  </div>
  <div class="opponent-cards">
    <app-opponent-card
      [opponentCharacters]="opponentCharacters">
    </app-opponent-card>
  </div>
  </div>
  <div class="dice">
    @if(rollDice){
      <app-dice (diceRolled)="onDiceRolled($event)"></app-dice>
    }
  </div>
  <div class="player">
    <div class="info">
        <img [ngSrc]="userPhoto()" loading="lazy">
      <p class="username">{{userName()}}</p>
    </div>
    <div class="player-cards">
      <app-cards-player
        [characters]="characters">
      </app-cards-player>
    </div>
    <button (click)="rollDiceNow() ">Lancia Dado</button>
  </div>
</div>
<canvas #lightningCanvas class="lightning-canvas" width="800" height="600"></canvas>
