<div class="card-deck">
  <div class="card">
    <a href="/signup"  class="custom-card">
      <img ngSrc="https://i.ibb.co/wcbmkfB/Dream-Shaper-v7-a-green-Snake-while-he-is-attacking-with-his-mo-1.jpg"
           width="399"
           height="598"
           class="card-img-top"
           alt="Immagine Registrati"
           priority="high">
      <div class="card-body">
        <h5 class="card-title">Registrati</h5>
      </div>
    </a>
  </div>
  <div class="card">
    <a href="/login"  class="custom-card">
      <img ngSrc="https://i.ibb.co/wcbmkfB/Dream-Shaper-v7-a-green-Snake-while-he-is-attacking-with-his-mo-1.jpg"
           width="399"
           height="598"
           class="card-img-top"
           alt="Immagine Login"
           priority="high">
      <div class="card-body">
        <h5 class="card-title">Login</h5>
      </div>
    </a>
  </div>
  <div class="card">
    <div class="custom-card" (click)="navigateToUsersOnline()">
      <img ngSrc="https://i.ibb.co/wcbmkfB/Dream-Shaper-v7-a-green-Snake-while-he-is-attacking-with-his-mo-1.jpg"
           width="399"
           height="598"
           class="card-img-top"
           alt="Immagine Nuova sfida"
           priority="high">>
      <div class="card-body">
        <h5 class="card-title">Nuova sfida</h5>
      </div>
    </div>
  </div>
</div>

  <app-footer></app-footer>

